.language-img {
    width: 100%;
    margin: 0 auto;
}
.language-desc {
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.difficulty-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem auto;
    border-radius: 30px;
    border: solid 1px var(--vulcan);
}
.difficulty-img {
    margin-top: 1rem;
    object-fit: cover;
    width: 45%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.difficulty-btn {
    margin-bottom: 1rem;
}
