@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.continue-btn {
    color: #fff !important;
}
.form-outline,
.nav,
.login-password {
    max-width: 50%;
    margin: 0 auto;
}
.btn {
    max-width: 40%;
    margin: 0 auto;
}
.register-lnk {
    text-decoration: underline !important;
}
.forgot-password-txt,
.continue-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
